이 프로그램은 재고수불부 작성을 위한 기초, 입고, 출고, 재고파일등에 잘못된 제품코드를 찾아서 수정하는 용도로 만들어졌습니다.

In [2]:
import pandas as pd
from pandas import DataFrame
import sys
import numpy as np
from openpyxl import load_workbook

1. 검증할 파일명 입력

In [3]:
input_file = 'C:/Python_SHL/Test/BOH1.xlsx'

 *** 반드시 Product_Name 이 없는 파일을 사용해야 함

In [4]:
df1 = pd.read_excel(input_file)
df2 = pd.read_excel('C:/Python_SHL/Test/Code_Master.xlsx')

# df1 의 Product_Code 와 df2의 Product_Code 가 같으면 df1 에 Product_Name 을 추가하여 df2 의  Product_Name 을 매칭함
df = df1.join(df2.set_index('Product_Code')['Product_Name'], on='Product_Code')

df[df['Product_Name'].isnull()] # 공백이 있는 셀 찾기

,Product_Code,BOH_Qty,BOH_Amt,IN_Qty,IN_Amt,OUT_Qty,OUT_Amt,Sales_Gift_Qty,Sales_Gift_Amt,Sample_Qty,Sample_Amt,Warranty_Qty,Warranty_Amt,EOH_Qty,EOH_Amt,Product_Name
99,KLAMET150B40001,1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2. 찾아낸 행의 제품코드를 찾아서 이와 유사한 제품코드를 필터링 함

In [5]:
filter_code = 'KLAMET150B4'
df[df['Product_Code'].str.startswith(filter_code)]

,Product_Code,BOH_Qty,BOH_Amt,IN_Qty,IN_Amt,OUT_Qty,OUT_Amt,Sales_Gift_Qty,Sales_Gift_Amt,Sample_Qty,Sample_Amt,Warranty_Qty,Warranty_Amt,EOH_Qty,EOH_Amt,Product_Name
98,KLAMET150B40002,2,340.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MT150-B3S40NG1S
99,KLAMET150B40001,1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3. 잘못된 제품코드를 정확한 제품코드로 변경 - 특정한 제품 1개일때

In [6]:
Rev_Code = 'KLAMET150B40002'
df.loc[(df['Product_Name'].isnull()), 'Product_Code'] = Rev_Code

 *** 여러개의 제품코드를 변경시 특정 제품코드를 건별로 처리해야 하므로 아래 명령 실행

In [59]:
Rev_Code1 = 'WP050-B50MBNG1S'
df.loc[(df['Product_Name'] == 'WP050-B50MBNG10'), 'Product_Code'] = Rev_Code1

4. 잘못된 제품코드를 정확한 제품코드로 변경 - 다수의 제품일때

In [7]:
find_code1 = df['Product_Code'] == 'KLAMET150B40002'
find_code2 = df['Product_Name'].isnull()
df[find_code1 & find_code2]

,Product_Code,BOH_Qty,BOH_Amt,IN_Qty,IN_Amt,OUT_Qty,OUT_Amt,Sales_Gift_Qty,Sales_Gift_Amt,Sample_Qty,Sample_Amt,Warranty_Qty,Warranty_Amt,EOH_Qty,EOH_Amt,Product_Name
99,KLAMET150B40002,1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

5. 제품명의 열을 삭제하고 정확한 제품코드가 입력이 된 파일로 저장

In [35]:
df_drop = df.drop('Product_Name', axis = 1)
output_file = 'C:/Python_SHL/Test/BOH_Rev.xlsx'
df_drop.to_excel(output_file, index = 0)